<script src = "https://cdn.jsdelivr.net/npm/apexcharts" > </script>
<h1>Your Profiles</h1>
<p>Each track shows your progress over time. Hover for details.</p>
<div class = "main_chart">
<% @profile_data = Hash.new(0) %>
<% @profiles.map { |profile| @profile_data[profile.created_at] = profile.strength_lower_score }%>
    <% line_series = [{ name: "Your Score", data: @profile_data }] %>
    <% options = { grid: { padding: {top: -60, bottom: -200} }, 
                markers: {size: 10}, 
                theme: 'palette4', 
                fill: { opacity: 0.7 }, 
                chart: {height: '400px'}, 
                xaxis: {labels: {show: true, style:{fontSize: '20px', fontWeight: 'bold', colors: ["#fcf8f7", "#fcf8f7", "#fcf8f7"]}}}, 
                yaxis: {min: 0, max: 100, tickAmount: 5, labels: {show: false, style:{colors: ["#fcf8f7", '#fcf8f7', '#fcf8f7', '#fcf8f7', '#fcf8f7', '#fcf8f7'], fontSize: '10px', fontWeight: 'bold'}}}, 
                dataLabels: { enabled: true, style: { fontSize: '16px', fontWeight: 'bold'}}, 
                tooltip: { theme: 'dark', style: { fontSize: '16px', fontWeight: 'bold'}}} %>
    <%= line_chart(line_series, options) %>
</div>