<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3> Your BTE Profile password has been reset</h3>
    <p>Your new password is: <%= params[:password] %></p>
    <p>Thanks!</p>
    <p> - The BTE Team</p>
  </body>
</html>