<td>Your Profiles</h1>
<% @profiles.each do |profile| %>
    <table>
        <tr>
            <th>Track</th>
            <th>Created At</th>
            <th>Delete</th>
            <th>View</th>
        </tr>
        <tr>
            <% if profile.track == 'sof_land_cont' %>  
                <td>SOF Land Contract</td>
            <% elsif profile.track == 'sof_mar _cont' %>
                <td>SOF Maritime Contract</td>
            <% elsif profile.track == 'sof_land_prep' %>
                <td>SOF Land Prep</td>
            <% elsif profile.track == 'operator_short' %>
                <td>Operator(short)</td>
            <% elsif profile.track == 'operator_long' %>
                <td>Operator(long)</td>
            <% elsif profile.track == 'hrt' %>
                <td>HRT</td>
            <% elsif profile.track == 'leo' %>
                <td>LEO</td>
            <% elsif profile.track == 'fire_urban' %>
                <td>Fire - Urban</td>
            <% elsif profile.track == 'fire_wildland' %>
                <td>Fire - Wildland</td>
            <% elsif profile.track == 'civilian' %>
                <td>Civilian</td>
            <% else %>
                <td>SOF Maritime Prep</td>
            <% end %>
            <td><%= profile.created_at %></td>
            <td><%= button_to 'Delete', '/profiles', method: :delete %></td>
            <td><%= button_to 'View', '/profile', method: :get %></td>
        </tr>
    </table>
<% end %>